@use '/src/styles/global-vars' as *;
@import "works";
@import "plasmTech";

.plasmatron {
    &__swiper {
        overflow: hidden;
        margin: 0 auto;
        background-color: $white-primary;
        border-radius: 15px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }

    &__container {
        @include container
    }

    &__coating-swiper {
        overflow: hidden;
        margin: 0 auto;
        .swiper-slide {
            display: flex;
            justify-content: center;
        }
    }

    &__coating-container {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        padding: 40px;
        background: url("../../../public/images/plasmatron/tile-back.svg") 0/100% no-repeat;
    }

    &__coating-title {
        color: $green-dark;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    &__coating-body {
    }

    &__process {
        position: relative;
        margin-bottom: 80px;
    }

    &__number {
        position: absolute;
        top: -70px;
        left: -90px;
        font-weight: 700;
        font-size: 150px;
        line-height: 180px;
        color: $gray-secondary;
    }

    &__title {
        @include title
    }

    &__subtitle {
        font-size: 32px;
        margin-bottom: 60px;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 55px;
        flex-wrap: wrap;
    }

    &__text {
        padding: 40px 30px;
        border-radius: 15px;
        background-color: $green-primary;
        color: $white-primary;
        max-width: 470px;
    }

    &__img {

    }




    &__coating {
        margin-bottom: 80px;
    }




    &__cost {
        margin-bottom: 80px;
    }

    &__subsubtitle {
        font-size: 20px;
        margin-bottom: 50px;
    }

    &__cost-body {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
        gap: 20px;
    }

    &__cost-item {
        box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.09);
        border-radius: 15px;
        padding: 35px;
        position: relative;
        font-weight: 600;
        font-size: 20px;
        flex: 33.333 0 0%;
    }

    &__cost-item-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__cost-number {
        position: absolute;
        top: -15px;
        left: -15px;
        font-weight: 700;
        font-size: 64px;
        color: $green-primary;
    }

    &__cost-desc {
        font-weight: 600;
        font-size: 20px;
    }

    &__list {
        margin-top: 20px;
        margin-left: 20px;
    }

    &__list-item {
        list-style-type: disc;
        font-size: 18px;
    }



    &__works {
        margin-bottom: 80px;
    }



    &__works-completed {
        margin-bottom: 200px;
    }

    &__works-completed-body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 100px;
        row-gap: 30px;
    }

    &__works-completed-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        flex: 33.333 0 0;
    }

    &__works-completed-item {
        width: 100%;
        height: 80px;
        box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.09);
        border-radius: 15px;
        padding: 30px 60px;
        font-weight: 600;
        font-size: 20px;
        position: relative;
    }

    &__works-completed-cubes {
        position: absolute;
        left: -50px;
        top: 5px;
    }



    &__craft {
        position: relative;
    }



}

@media (max-width: 900px) {
    .plasmatron {


        &__number {
            left: -60px;
            z-index: -1;
        }

        &__img {
            width: 470px;
        }
    }
}

@media (max-width: 700px) {
    .plasmatron {
        &__coating-swiper {
            .swiper-button-next {
                top: 90% !important;
                right: 35% !important;
                &::after {
                    color: #157110;
                }
            }

            .swiper-button-prev {
                top: 90% !important;
                left: 35% !important;
                &::after {
                    color: #157110;
                }
            }
            overflow: hidden;
            margin: 0 auto;
        }

        &__coating-container {
            margin-bottom: 60px;
        }

        &__number {
            left: -70px;
            z-index: -1;
        }

        &__img {
            width: 370px;
        }
    }
}

@media (max-width: 679px) {
    .plasmatron {
        &__cost-item-group {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .plasmatron {
        &__works-completed-body {
            margin-left: 50px;
        }
    }
}

@media (max-width: 450px) {
    .plasmatron {
        &__number {
            left: -60px;
            z-index: -1;
        }

        &__img {
            width: 310px;
        }
    }
}